/* IE7 specific styles
--------------------------------------------------------------------------- */
html{
	overflow:auto;
}
html,body,.fls-wrapper{
	height:99.9%;
}
body{
	line-height:200%;
}

.fl-theme-uio-bw button.fl-toggleButton.focus{ background-color:#fff !important; background-image:url("../images/icon-uio-black.png"); color:#000 !important;}
.fl-theme-uio-bw .fls-loginout-link a:active{ background-color:#fff !important; background-image:url("../images/icon-login-black.png"); color:#000 !important;}
.fl-theme-uio-bw  .fls-back-link a:active{ background-color:#fff !important; background-image: url("../images/icon-back-black.png"); color:#000 !important;}

.fl-theme-uio-wb button.fl-toggleButton.focus{ background-color:#000 !important; background-image:url("../images/icon-uio.png"); color:#fff !important;}
.fl-theme-uio-wb .fls-loginout-link a:active{ background-color:#000 !important; background-image:url("../images/icon-login.png"); color:#fff !important;}
.fl-theme-uio-wb  .fls-back-link a:active{ background-color:#000 !important; background-image: url("../images/icon-back-white.png"); color:#fff !important;}

.fl-theme-uio-by button.fl-toggleButton.focus{ background-color:#ff0 !important; background-image:url("../images/icon-uio-black.png"); color:#000 !important;}
.fl-theme-uio-by .fls-loginout-link a:active{ background-color:#ff0 !important; background-image:url("../images/icon-login-black.png"); color:#000 !important;}
.fl-theme-uio-by  .fls-back-link a:active{ background-color:#ff0 !important; background-image: url("../images/icon-back-black.png"); color:#000 !important;}

.fl-theme-uio-yb button.fl-toggleButton.focus{ background-color:#000 !important; background-image:url("../images/icon-uio-yellow.png"); color:#ff0 !important;}
.fl-theme-uio-yb .fls-loginout-link a:active{ background-color:#000 !important; background-image:url("../images/icon-login-yellow.png"); color:#ff0 !important;}
.fl-theme-uio-yb  .fls-back-link a:active{ background-color:#000 !important; background-image: url("../images/icon-back-yellow.png"); color:#ff0 !important;}

.fls-post-thumbnail a:active{
	border:0;
}
a:active,
a:active img,
button:active {
	border:2px solid #f00;
}
.fl-panelBar .fl-toggleButton{
	font-size:1em;
	margin-right:3%;
	width:14em;
}
.fl-toggleButton.focus{
	border-right:2px solid #f00;
	border-bottom:2px solid #f00;
	border-left:2px solid #f00;
}
.fls-masthead{
	width:7em;
}
.fls-logo a,.single .fls-logo a{
	display:block;
}
.home .fls-main,.archive .fls-main{
	padding-top:3em;
}
.fl-grid li{
	float:left;
	min-height:21em;
}
.fl-grid li .fls-index-summary{
	overflow:visible;
}