/* IE7 specific styles
--------------------------------------------------------------------------- */
a:focus{
	color:#f00;
}
.flc-slidingPanel-toggleButton.fl-toggleButton{
	font-size:1em;
	margin-right:3%;
	width:14em;
}
.fls-masthead{
	width:7em;
}
.fls-logo a,.single .fls-logo a{
	display:block;
}
.home .fls-main,.archive .fls-main{
	padding-top:3em;
}
.fl-grid li{
	float:left;
	min-height:20em;
}