/* Responsive media queries styles
--------------------------------------------------------------------------- */
@media screen and (max-width:980px){
	.fl-grid li{
		margin:0 5.75% 2em;
		width:38%;
	}
}

@media screen and (max-width:640px){
	.contentinfo{
		text-align:center;
	}
}

@media screen and (min-width:640px){
	html,body{
		height:100%;
		text-align:left;
	}
	.fl-uiOptions-fatPanel .fl-toggleButton{
		float:right;
		margin-right:3.5%;
	}
	.wrapper{
		min-height:100%;
		max-width:72em;
	}
	.banner{
		border-bottom:0 !important;
		border-right:1px solid #fff;
		margin:0;
		position:absolute;
		bottom:0;
		top:0;
		padding-right:0;
		width:20%;
	}
	.masthead{
		text-align:center;
		margin:4em 14%;
		float: right;
		width:99px;
		background-repeat: no-repeat;
	}
	.fls-loginout-link {
		margin:2em auto;
		text-align:center;
	}
	.fls-back-link {
		margin:4em 0.5em 2em;
		float:none;
	}
	.main,
	.single	.main{
		margin:0 0 0 20%;
		padding-top:4em;
		width:auto !important;
	}
	.single .main .article{
		padding:0 4%;
	}
	.contentinfo{
		margin:0 0 0 20%;
	}
}

@media screen and (max-width:640px){
	.single .main{
		padding-top:2em;
	}
}
@media screen and (max-width:480px){
	.single .fls-logo{
		display:none;
	}
	.single .fls-back-link{
		margin:0;
		margin-top:4em;
		margin-left:8%;
		margin-bottom:-0.9em;
	}
	.single .fls-loginout-link{
		float:right;
		margin-top:4em;
		margin-right:8%;
	}
	.fl-grid li{
		display:block;
		margin:0 auto 2em;
		width:15em;
	}
}